<div class="container">
    <div class="row">
        <div class="col-md-6" *ngFor="let note of Notes">
            <div class="panel panel-warning" *ngIf="note.flag">

                <div>
                    <button class="delete button-error pure-button" (click)="delete(note); $event.stopPropagation()">x</button>
                </div>

                <div class="panel-heading text-center">
                    <h2>{{note.title}}</h2>
                    <span class="label label-info text-capitalize">{{note.date | date}}</span>
                </div>
                <div class="panel-body" style="padding:0;border:0px;height:160px;overflow-y:auto">
                    <br>
                    <p class=" text-center">{{ note.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>